body {
    padding: 0;
    margin: 0;
}
html, body, #l-map {
    height: 100%;
    width: 100%;
}

.l-info { background: #f0f0f0; padding: 0.5em;  -moz-border-radius: 0.3em;  
    -webkit-border-radius: 0.3em;
            border-radius: 0.3em;}
.l-info ul.info { list-style: none; margin: 0; padding: 0; font-size: small; }
.l-info ul.info li { color: #666; padding: 2px; display: block; }
.l-info ul.info li span { color: black; }

.lds-facebook {
    display: none;
    position: fixed;
    width: 80px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    z-index: 1001;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #db4646;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  